* {
    margin: 0;
    padding: 0;
    
}

body {
 width: 100%;
 height: 100vh;
 background-color: whitesmoke;
}

section.ville-section {
    width: 100%;
    height: 90%;
    
    
}


/* nav */
.nav-barre {
    width: 100%;
    height: 8%;
    background-color: hwb(0 3% 83%);

    margin: auto;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0rem 0.2rem 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;;
    font-size: 1.8rem;
}

nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* cities-container */

.cities-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Permet le "wrap" des cartes */
  justify-content: center; /* Centre les cartes horizontalement */
  align-items: center; /* Centre les cartes verticalement */
  height: 100%;
  overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../exoville/images/paysage.png);
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-size: cover; /* Redimensionne l'image pour couvrir tout le conteneur */
  background-position: center; /* Centre l'image */
}


.ville{
    width: 50%;
    height: 100%;
}


.card {
    
    height: 45%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    background-color: hsla(0, 0%, 100%, 0.52);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    img {
        width: 90%;
        border-radius: 4px;
        
    }
    
    h2 {}
    
    h2 {}
    
    p{}
}


/* selecteur */
.continent {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Choisissez la taille de police appropriée */
  }
  
  /* Style du label */
  .continent label {
    margin-right: 10px; /* Espacement entre le label et le sélecteur */
  }
  
  /* Style du sélecteur */
  .continent select {
    padding: 8px; /* Espacement à l'intérieur du sélecteur */
    border-radius: 5px; /* Coins arrondis */
    border: 1px solid #ccc; /* Bordure grise */
    font-size: 16px; /* Taille de police */
    cursor: pointer; /* Curseur pointeur */
  }
  
  /* Style des options du sélecteur */
  .continent select option {
    font-size: 16px; /* Taille de police */
  }


  

/* footer */
.footer-section {
    width: 100%;
    height: 2%;

    display: flex;
    justify-content: center;
    background-color: hwb(0 3% 83%);
}
